<div class='brand'>
  Time Tracker
</div>
<% if current_user %>
  <ul class='nav nav-tabs custom-nav'>
    <li role='presentation' class='<%= active?(root_path) %>'>
      <%= link_to 'Home', root_path %>
    </li>

    <li role='presentation' class='<%= active?(posts_path) %>'>
      <%= link_to 'Time Entries', posts_path %>
    </li>

    <% if policy(AuditLog).index? %>
      <li role='presentation' class='<%= active?(audit_logs_path) %>'>
        <%= link_to 'Audit Logs', audit_logs_path %>
      </li>
    <% end %>
    
    <li role='presentation' class='<%= active?(new_post_path) %>'>
      <%= link_to 'Enter new entry', new_post_path, id: 'new_post_from_nav' %>
    </li>

    <li role='presentation' class='dropdown'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>
        Options <span class='caret'></span>
      </a>
      <ul class='dropdown-menu'>
        <% if current_user.try(:type) == 'AdminUser' %>
          <li>
            <%= link_to 'Admin Dashboard', admin_root_path %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </li>
  </ul>
<% end %>