<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error_msg| %>
      <%= js add_gritter(error_msg, title: "Time Tracker Notification", sticky: true, class_name: 'custom-gritter') %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :overtime_hours %>
    <%= f.text_field :overtime_hours, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :rationale %>
    <%= f.text_area :rationale, class: 'form-control', rows: 10 %>
  </div>

  <%= render partial: 'status', locals: { f: f } if current_user.type == 'AdminUser'%>

  <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
<% end %>
